*{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    padding: 5px;
}
.box-container{
    
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
img{
    width: 60%;
    height: 120px;
    margin-bottom: 15px;
}
.box{
    width: 30%;
    padding: 20px 0px;
    border:1px solid #1090D8;
    text-align: center;
    margin: 10px;
}
.Field-box{
    margin: 10px 0px;
}
.inputField{
    width: 70px;
}
.btn{
   width: 80%;
   padding:8px 0px;
   background-color: #1090D8;
   border: none;
   color: white;
   border-radius: 5px;
   margin-top: 10px;
}
.area-box{
    width: 20%;
    border: 1px solid #1090D8;
    height: 400px;
    margin-top: 10px;
    text-align: center;
}
.area-heading{
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 15px;
}